body{
    display: flex;
    flex-direction: column;
}
header{
    max-width: 100%;
    min-height: 100px;
    background-color: aquamarine;
}
h1{
    color: rgb(115, 31, 194);
    font-size: 36px;
    text-align: center;
}
h2{
    color: blueviolet;
    font-size: 20px;
    text-align: center;
}
.artonde{
    font-size: 18px;
    font-style: italic;
    text-align: left;
}
p{
    display: flex;
    flex-direction: column;
}