h1{
    color: rgb(36, 28, 43);
    font-size: 36px;
    text-align: center;
}
h2{
    color: rgb(54, 30, 77);
    font-size: 16px;
    margin-bottom: 2em;

}
form{
    border: solid orange;
   
}
button{
    width: 50%;
    height: 100%;
    border-radius: 8%;
    border-color: rgb(96, 87, 87);
    margin: 0.5em;
    margin-top: 1em;
    transition: all 0.2sec ease-in-out;
}
button:hover{
    background-color: beige;
    cursor: pointer;

}
.seminar-day{
    display: flex;
    flex-wrap: wrap;
}
.seminars-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}